*{
	margin:0;
	padding:0;
	font-family:"Times New Roman";
}

#pageTitle{
	padding:75px;
	background-color:gray;
	text-align:center;
	margin:auto;
	font-size:36px;
}

/* for the horizontal navigation bar */

#navbar{
	background-color:maroon;
	top:0;
	position: sticky;
}

#navbar a{
		padding: 20px 40px 20px 40px;
		display: inline-block;
		text-decoration: none;
		font-size: 18px;
		color: white;
}

#navbar a:hover{
		background-color:brown;
}

#navbar li{
		display: inline-block;
}

/* For page content below the navigation bar */
#content > *{
		margin:20px;
}