*{
	margin:0;
	padding:0;
	font-family:"Times New Roman";
}

body{
		background-color: #dfbf9f;
}

h1,p {
	margin:20px;
}

p{
	font-size:18px;
}

#content{
		display: none;
}

.imageContainer{
		background-color:#d9d9d9;
		padding:20px;
		overflow:auto;
		width:50%;
		margin-left:auto;
		margin-right:auto;
		border-radius:15px;
}

.imageContainer img{
		width: 100%;
		border-radius:inherit;
}

#title{
	padding:75px;
	background-color:gray;
	text-align:center;
	margin:auto;
	font-size:36px;
}

#title a{	
	text-decoration:none;
	color:black;
}

/* for the horizontal navigation bar */

#nav{
		top:0;
		position:sticky;
}

#navbar{
	background-color:maroon;
}

#navbar a{
		padding: 20px 30px 20px 30px;
		display: inline-block;
		text-decoration: none;
		font-size: 18px;
		color: white;
}

#navbar li:hover{
		background-color:brown;
}

#navbar li{
		display: inline-block;
}

/* for dropdown list in navigation bar*/
#navbar li li{
		display: none;
}

#navbar ul{
		position: absolute;
}

#navbar li:hover li{
	display: block;
	background-color:brown;
}

#navbar li li:hover{
		background-color: black;
}
